.page-header a {
	background-color: transparent;
  color: transparent;
  font-size: initial;
  width: auto;
  height: auto;
  outline: inherit;
  border: none;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.page-header a img {
	position: relative;
	top: 2.5px;
}

.cancelClass {
  position: relative;
  cursor: auto;
}

.cancelClass:before {
  position: absolute;
  content: '';
  top: 40%;
  left: -7.5%;
  height: 7.5px;
  width: 115%;
  background-color: #e200e2;
}