.social-icons a {
	background-color: transparent;
  color: transparent;
  font-size: initial;
  width: auto;
  height: auto;
  outline: inherit;
  border: none;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 0;
}